@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

h1, h2, h3, h4 {
  font-family: 'Press Start 2P', cursive;
  color: #EA0600;
}

p {
  font-family: 'Raleway', sans-serif;
}

.total {
  background-color: #CCCCCC;
  height: 100vh;
}

.accueil {
  text-align: center;
}

.image-accueil {
  text-align: center;
  max-width: 30vw;
}

.btn-primary{
  background-color: #F89401;
  border-color: #F89401;
  display: inline-block;
}

.btn-primary:hover {
  background-color: #F89401;
  border-color: #F89401;
}

.bouton {
  text-align: center;
}

.card-img-top {
  max-height: 18em;
}

.card-text:hover {
  opacity: 1;
}

/*.card:hover {
  opacity: 0.5;
}

.card:hover, stats{
  opacity: 0.2;
}*/

.element{
    opacity: 1;
}

.element:hover, reward{
    opacity: 1;

}

.reward{
    opacity: 0;
}

.reward:hover{
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.7);
}
